<%= form_for(street_art) do |f| %>
  <% if street_art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(street_art.errors.count, "error") %> prohibited this street_art from being saved:</h2>

      <ul>
      <% street_art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :artist %>
    <%= f.text_field :artist, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :museum %>
    <%= f.text_field :museum, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    Add an image...
    <br>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
