<div class="row">
  <%= form_tag(street_arts_path, :method => "get", id: "search-form") do %>
    <div class="col-xs-8 col-md-4">
      <%= text_field_tag :search, params[:search], placeholder: "Search Artwork", class: 'form-control' %>
    </div>
    <div class="col-xs-4 col-md-4">
      <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br />

<!-- <%= form_tag(street_arts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Artworks" %>
  <%= submit_tag "Search", :name => nil %>
<% end %> -->

<div id="street_arts" class="transitions-enabled">
  <% @street_arts.each do |street_art| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(street_art.image_url(:thumb).to_s), street_art %>
      <div class="panel-body">
        <%= link_to street_art.title.titleize, street_art %>
        <%= street_art.artist.titleize %>
        <% if current_user == street_art.user || current_user.try(:admin?) %>
          <%= link_to edit_street_art_path(street_art) do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to street_art, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
