<div id="street_arts" class="transitions-enabled">
  <% @street_arts.each do |street_art| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(street_art.image_url(:thumb).to_s), street_art %>
      <div class="panel-body">
        <%= link_to street_art.title, street_art %>
        <%= street_art.artist %>
        <% if current_user == street_art.user || current_user.try(:admin?) %>
          <%= link_to edit_street_art_path(street_art) do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to street_art, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
