<div class="jumbotron">
  <div class="panel-body">
    <%= link_to '< Back', street_arts_path %>
  </div>

  <div class="panel-heading">
    <div class="panel-title">
      <h1>
        <strong>
          <%= @street_art.title %>
        </strong>
      </h1>
    </div>
  </div>

  <% if current_user == @street_art.user || current_user.try(:admin?) %>
    <div class="panel-body">
      <%= link_to edit_street_art_path(@street_art) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
      <% end %>
      <%= link_to @street_art, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>Delete
      <% end %>
    </div>
  <% end %>

  <div class="panel-body">
    <% if user_signed_in? && current_user.likes.map(&:street_art).exclude?(@street_art) %>
      <h3>
        <strong>
          <%= link_to 'Like', new_street_art_like_path(@street_art) %>
        </strong>
      </h3>
    <% end %>

    <h3>
      <strong>Artist:</strong>
      <%= @street_art.artist %>
    </h3>

    <%= image_tag(@street_art.image_url.to_s, class: "img-responsive") %>
    <br />

    <% if @street_art.address != nil %>
      <div id="map"></div>

      <script>
        function initMap() {
          var geocoder = new google.maps.Geocoder();
          var address = {
            lat:<%= @street_art.latitude %>, lng:<%= @street_art.longitude %>
          };
          var map = new google.maps.Map(document.getElementById('map'), {
            center: address,
            zoom: 18
          });
          var contentString = '<div id="content">' + '<h4><%= @street_art.museum %></h4>' + '<div id="bodyContent">' + '<small><%= @street_art.address.titleize %></small>' + '</div>' + '</div>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString,
          });
          var marker = new google.maps.Marker({
            position: address,
            map: map,
            title: '<% @street_art.museum %>'
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPrvzSC1NSyD5x5GIXi33wlkPa6-HL0Ac&callback=initMap"></script>
    <% end %>

  </div>
</div>
