<h1>My Likes</h1>

<div id="map" class="likes-map"></div>
<script>

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: {lat: 42.3604, lng: -71.0580}
    });

    // Create an array of alphabetical characters used to label the markers.
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    var markers = locations.map(function(location, i) {
      return new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }
  var locations = [
    <% @street_arts.each do |street_art| %>
    {lat: <%= street_art.latitude %>, lng: <%= street_art.longitude %>},
    <% end %>
  ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPrvzSC1NSyD5x5GIXi33wlkPa6-HL0Ac&callback=initMap">
</script>

<div id="street_arts" class="transitions-enabled">
  <% @street_arts.each do |street_art| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(street_art.image_url(:thumb).to_s), street_art %>
      <div class="panel-body">
        <%= link_to street_art.title, street_art %>
        <%= street_art.artist %>
        <%= link_to like_url(@user.likes.where(street_art_id: street_art).map(&:id)), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
