<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= link_to "St-Art", root_path, class: "navbar-brand" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span> Home
            <% end %>
          </li>
          <li>
            <%= link_to user_likes_url(current_user) do %>
              <span class="glyphicon glyphicon-heart"></span> My Likes
            <% end %>
          </li>
          <li>
            <%= link_to new_street_art_path do %>
              <span class="glyphicon glyphicon-plus"></span> New Street Art
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span> Edit Profile
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path do %>
              <span class="glyphicon glyphicon-log-out"></span> Logout
            <% end %>
          </li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
